.paginatorWrap {
    margin-bottom: 15px;
}
.paginatorWrap span {
    display: inline-block;
    margin: 0 10px;
    border-radius: 10px;
    height: 20px;
    padding: 0 5px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 2px solid transparent;
}
.paginatorWrap span.selectedPage {
    font-weight: 700;
    background-color: #a9a9a9;
    border: 2px solid #ffffff;
    color: #f2f2f2;
    cursor: default;
}