.messageWrap {
    display: block;
    text-align: left;
    margin: 10px 0;
}
.messageWrap.right {
    text-align: right;
}
.message {
    display: inline-block;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #a9a9a9;
    position: relative;
    padding: 10px 20px;
    max-width: 500px;
}

.authoreAva {
    background-color: #ffffff;
    position: absolute;
    top: -15px;
    left: -15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid #f2f2f2;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    object-fit: cover;
}

.messageWrap.right .authoreAva {
    left: auto;
    right: -15px;
}