.item {
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #a9a9a9;
    background-color: #EBEBEB;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 15px;
}
.item:last-child {
    margin-bottom: 0;
}
.item:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.item img {
    display: block;
    width: 90px;
    height: 90px;
    object-fit: cover;
}

.item p {
    color: #2c2c2c;
    font-weight: 300;
    padding: 0 20px;
    margin: 0;
}