.wrapHeader {
    grid-area: h;

    background-color: #424242;
    color: #f2f2f2;
    font-family: 'Star Jedi';
    text-align: left;
    padding: 0 30px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.name {
    display: inline-block;
    font-size: 32px;
    line-height: 60px;
    vertical-align: middle;
    cursor: default;
}

.loginBlock {
    font-family: Arial, sans-serif;
}

.loginBlock a {
    text-decoration: none;
    color: #f2f2f2;
    font-weight: 400;
}

.loginBlock a:hover {
    text-shadow: #f2f2f2 0 0 5px;
}

.usernameBlock {
    position: relative;
}

.usernameBlock button {
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
    transition: all 0.3s ease;
    cursor: pointer;
}

.usernameBlock:hover button {
    opacity: 1;
}